@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Intro.css */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.carousel-container {
  position: relative;
  max-width: 100%; /* Prevents overflow */
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(229, 184, 11, 0.4);
  background-blend-mode: color-burn;
  overflow: hidden;
}

.carousel-content {
  width: 100%;
  color: white;
  text-align: center;
  z-index: 2;
  display: flex;
  gap: 30px;
  padding-left: 150px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  overflow: hidden;
}

/* Rest of your styles remain the same */

  .carousel-content h1{
    max-width: 600px;
    text-align: start;
    font-weight:300;
    font-size: 3.5rem;
  }
  .carousel-content h2{
    font-size: 1.5rem;
    font-weight: 400;
  }
  .carousel-navigation {
    position: absolute; /* Position arrows absolutely */
    top: 50%; /* Center arrows v /* Adjust for vertical centering */
    width: 100%; /* Full width for positioning */
    display: flex; /* Use flexbox to position arrows */
    justify-content: space-between; /* Space out arrows */
    padding: 0 40px;
    z-index: 3; /* Ensure arrows are above content */
  }
  
  .custom-arrow {
    background: rgba(255, 255, 255, 0.4); /* Transparent background */
    border: none; /* No border */
    color: white; /* Arrow color */
    font-size: 30px; /* Arrow size */
    cursor: pointer; /* Pointer cursor */
    padding: 10px 15px; /* Padding around arrows for click area */
    outline: none; /* Remove outline */
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
  }
  
  .Btn-success
  {
    background-color: transparent;
    border: 1px solid #daa520;
    padding: 15px 20px;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: whitesmoke;
  }
  .Btn-success:hover{
    background-color:rgba(255, 255, 255, 0.8);
    color: goldenrod;
    border: none;
  }
  .carousel-dots {
    position: absolute; /* Position the dots */
    bottom: 10px; /* Place them at the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
  }
  
  .carousel-navigation-button {
    margin: 0 5px; /* Spacing between buttons */
    padding: 5px 10px; /* Button padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded buttons */
    background-color: rgba(0, 0, 0, 0.5); /* Background for buttons */
    color: white; /* Button text color */
    cursor: pointer; /* Pointer cursor */
  }
  
  .carousel-navigation-button.active {
    background-color: rgba(255, 255, 255, 0.8); /* Active button style */
    color: black; /* Change active button text color */
  }
  @media (max-width:992px)
  {
    .carousel-container {
        position: relative; /* Needed for absolute positioning of arrows */
        width: 100vw; /* Full width */
       /* Optional: Set a max width */
        height: 100vh; /* Set a fixed height for the carousel */
        margin: 0 auto; /* Center the carousel */
        background-size: cover; /* Ensure the background image covers the area */
        display: flex;
        justify-content: space-around; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
        background-color: rgba(229, 184, 11, 0.4);
        background-blend-mode: color-burn;
      }
    .carousel-content {

        width: 100%;
        color: white; /* Text color */
        text-align: center; /* Center text */
        z-index: 2; /* Ensure text is above the background */
        display: flex;
        gap:30px;
        padding-left: 100px;
        flex-direction: column;
        align-items: flex-start;
        justify-content:space-evenly;
      }
      .carousel-dots {
        position: absolute; /* Position the dots */
        bottom: 100px; /* Place them at the bottom */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust for centering */
      }
  }
  @media (max-width:768px)
  {
    .carousel-container {
        position: relative; /* Needed for absolute positioning of arrows */
        width: 100vw; /* Full width */
       /* Optional: Set a max width */
        height: 100vh; /* Set a fixed height for the carousel */
        margin: 0 auto; /* Center the carousel */
        background-size: cover; /* Ensure the background image covers the area */
        display: flex;
        justify-content: space-around; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
        background-color: rgba(229, 184, 11, 0.4);
        background-blend-mode: color-burn;
      }
    .carousel-content {

        width: 100%;
        color: white; /* Text color */
        text-align: center; /* Center text */
        z-index: 2; /* Ensure text is above the background */
        display: flex;
        gap:30px;
        padding-left: 100px;
        flex-direction: column;
        align-items: flex-start;
        justify-content:space-evenly;
      }
      .carousel-dots {
        position: absolute; /* Position the dots */
        bottom: 10px; /* Place them at the bottom */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust for centering */
      }
  }
  @media(max-width:576px)
  {

    .carousel-container {
        position: relative; /* Needed for absolute positioning of arrows */
        width: 100vw; /* Full width */
       /* Optional: Set a max width */
        height: 100vh; /* Set a fixed height for the carousel */
        margin: 0 ;padding: 0; /* Center the carousel */
        background-size: cover; /* Ensure the background image covers the area */
        display: flex;
        justify-content: space-around; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
        background-color: rgba(229, 184, 11, 0.4);
        background-blend-mode: color-burn;
        box-sizing: border-box;
      }
      
  .carousel-content h1{
    max-width: 600px;
    text-align: start;
    font-weight:300;
    font-size: 2rem;
  }
  .carousel-content h2{
    font-size: 1rem;
    font-weight: 400;
  }
  .carousel-navigation {
    position: absolute; /* Position arrows absolutely */
    top: 80%; /* Center arrows v /* Adjust for vertical centering */
    width: 100%; /* Full width for positioning */
    display: flex; /* Use flexbox to position arrows */
    justify-content: space-between; /* Space out arrows */
    padding: 0 40px;
    z-index: 3; /* Ensure arrows are above content */
  }
  
    .carousel-content {

        width: 100%;
        color: white; /* Text color */
        text-align: center; /* Center text */
        z-index: 2; /* Ensure text is above the background */
        display: flex;
        gap:30px;
        padding: 0 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content:space-evenly;
      }
      .carousel-dots {
        position: absolute; /* Position the dots */
        bottom: 50px; /* Place them at the bottom */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust for centering */
      }
      .custom-arrow {
        background: rgba(255, 255, 255, 0.4); /* Transparent background */
        border: none; /* No border */
        color: #ffffff; /* Arrow color */
        font-size: 20px; /* Arrow size */
        cursor: pointer; /* Pointer cursor */
        padding: 5px 10px; /* Padding around arrows for click area */
        outline: none; /* Remove outline */
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
  }